dl.inp {font-weight: bold;}
dl.inp dt {width: 60px; text-align: right;}

dl.inp dt, dl.inp dd {margin: 5px;}

.page-hint .label {
	float:left;
	margin-right:15px;
    padding: 6px;
    line-height: 28px;
    font-weight: normal;
}

.page-hint .label span {
    font-weight: bold;
}

#map {
    height: 400px;
    width: 100%;
}

#timestamp {
	-moz-border-radius:5px;
	background-color:#36387B;
	color:#FFFFFF;
	float:left;
	height:117px;
	padding:40px 60px;
	text-shadow:0 0 5px #DDDDDD;
	text-align:center;
	width:117px;
}

#timestamp span {
	display:block;
	font-size:16px;
    margin-top:40px;
}

#timestamp .top {
    margin: 0 auto;
}

#timestamp .mid {
	font-size:90px;
}
