# m h  dom mon dow   command
@reboot /usr/local/bin/mevent -c /etc/mevent/server.hdf >> /tmp/mevent.log
@reboot cd /usr/local/ape/bin && ./aped >> /tmp/ape.log

55 23 * * * /usr/local/moon/pop/mtls/stat.sh >> /tmp/stat.log
58 * * * * /usr/local/moon/pop/mtls/statHourly.sh >> /tmp/statHourly.log
0 0 1,15 * * /usr/local/moon/pop/mtls/backupdb.sh >> /tmp/backupdb.log

* * * * * /usr/local/moon/pop/mtls/email.sh 1 >> /tmp/email.log
0 * * * * /usr/local/moon/pop/mtls/email.sh 2 >> /tmp/email.log
58 23 * * * /usr/local/moon/pop/mtls/email.sh 3 >> /tmp/email.log
