/* ELEMENT */
body {background: #f6f6f6 url(/img/bg/bg.png) repeat-x;}
a {color: #DB3946; cursor: pointer; text-decoration: none;}
h1 {margin: 2.5em 0 2em   0;}
h2 {margin: 2em   0 1.5em 0;}
h3 {margin: 1.5em 0 0.8em 0;}
h4 {margin: 1em   0 0.5em 0}
p {margin:  0.5em 0 1em   0;}

:focus {outline-style:none;}
input[type=checkbox] {vertical-align:middle; margin-top:-2px; margin-bottom:1px;}
input[type=text], input[type=password] {height: 18px; padding: 1px;}
input, textarea {border: 1px solid #A6A6A6;}

/* SPECIAL CLASS */
ul.normal {padding: 0 2em;}
/*ul.normal li {list-style: outside;}*/
ul.emph li {font-weight: bold;}

input.btn, button.btn {height: 28px; width: 80px; text-align: center; vertical-align: middle; border: 0px none; color: #fff; background: url(/img/bg/btn.png) 0 0 no-repeat;}
input.btn:hover {cursor: pointer; background: url(/img/bg/btn.png) 0 -28px no-repeat;}
input.btn-w, button.btn-w{width: 130px; background: url(/img/bg/btn.png) -80px 0 no-repeat;}
input.btn-w:hover {background: url(/img/bg/btn.png) -80px -28px no-repeat;}
input.long {width: 200px;}

a.nav-next {display: inline-block; height: 28px; line-height: 28px; width: 80px; text-align: center; background: url(/img/bg/btn.png) 0 -56px no-repeat; font-weight: bold;}
a.nav-next:hover {cursor: pointer; background-position: 0 -84px;}
a.nav-next-w {width: 130px; background-position: -80px -56px;}
a.nav-next-w:hover {width: 130px; background-position: -80px -84px;}

a.nav-prev {display: inline-block; height: 28px; line-height: 28px; width: 80px; text-align: center; background: url(/img/bg/btn.png) 0 -112px no-repeat; font-weight: bold;}
a.nav-prev:hover {cursor: pointer; background-position: 0 -140px;}
a.nav-prev-w {width: 130px; background-position: -80px -112px;}
a.nav-prev-w:hover {width: 130px; background-position: -80px -140px;}

a.nav-up {display: inline-block; height: 28px; line-height: 28px; width: 80px; text-align: center; background: url(/img/bg/btn.png) 0 -168px no-repeat; font-weight: bold;}
a.nav-up:hover {cursor: pointer; background-position: 0 -196px;}
a.nav-up-w {width: 130px; background-position: -80px -168px;}
a.nav-up-w:hover {width: 130px; background-position: -80px -196px;}

dl.inp dt {float: left; width: 100px; margin: 0 13px 0 0; text-align: right;}
dl.inp dd {margin: 10px 0;	line-height:22px;}
dl.inp dd.loading .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/ajax/indicator.gif) 0 0 no-repeat;}
dl.inp dd.success .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/ajax/success.png) 0 0 no-repeat}
dl.inp dd.error .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/ajax/error.png) 0 0 no-repeat;}

.hide {display: none;}
.show {display: block;}
.valid {border: 2px solid green !important;}
.invalid {border: 2px solid #800 !important;}
.clearer {clear: both;}
.sep {display: block; clear: both; height: 3em;}
.sepl {display: block; clear: both; height: 1em;}
.decimal {font: 12px Georgia; font-weight: bold;}
.slight {color:#767676;}
.em {font-weight: bold;}
.eem {font-weight: bold; font-size: 120%;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-hint {color: #bb0000}
.text-error {color: #ff0000}
