/* ELEMENT */
body {
	background: #fff;
	/*background-image: url(/img/bg/bg.gif);*/
	color: #111;
}
a {color: #DB3946; cursor: pointer; text-decoration: none; }
p {
	text-indent: 2em;
	margin: 2ex 0;
}
/*a:hover {background-color: #DB3946; color: #FFF !important; text-decoration: none; }*/
input, textarea {border: 1px solid #676767;}
input.long {width: 180px;}
input.middle {width: 100px;}
input.short {width: 25px;}
input.submitbtn, button.submitbtn {
	margin-top: 10px;
	padding: 1px 28px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	background-color: #686868;
}
input.submitbtn:hover {background-color: #9a9a9a; cursor: pointer;}
:focus {outline-style:none;}
dl.form dt {float: left; width: 100px; margin: 0 13px 0 0; text-align: right;}
dl.form dd {margin: 10px 0;}

/* SPECIAL CLASS */
.hide {display: none;}
.show {display: block;}
.valid {border: 2px solid green !important;}
.invalid {border: 2px solid #800 !important;}
.clearer {clear: both;}
.sep {clear: both; height: 3ex;}
.sepl {clear: both; height: 2ex;}

#top, #mid, #ot {
	width: 960px;
	margin: 0 auto;
}
#top {
	height: 42px;
	border-bottom: 1px dashed #101010;
	background-image: url(/img/logo.png);
	background-repeat:no-repeat;
}
#bot {height: 100px; border-top: 1px dashed #101010; }
#bot p {padding-top: 10px; text-align: center; }
#mid {padding: 3ex 0; }

