#bchat {
	/*background-color:#999999;*/
	background-color:#EEEEEE;
	border: 1px solid #666666;
	position:fixed;
	right:20px;
	bottom: 0;
	padding: 10px;
	opacity: 1.0;
	z-index:999;
}
#bchat-head {width: 260px; height: 20px; text-align: center;}
#bchat-trigger.dirty {color: green;}
#bchat-body {
	display: none;
	width: 260px;
}
#bchat-hint {
	color: #999;
	background-color: #eeeeee;
	overflow: hidden;
}
#bchat-msgs {
	background-color: #eeeeee;
	border: 1px solid #666666;
	height: 200px;
	width: 259px;
	margin: 10px 10px 10px 0;
	overflow: auto;
}

textarea#bchat-input {
	padding: 5px;
}

.item-join, .item-visit, .item-send, .item-msg {
	margin: 12px 0;
}
.bchat-msgs .item-name, .bchat-msgs .item-time{
	margin-left: 10px;
	color: #999;
}
.bchat-msgs .item-content {
	display: block;
	margin: 5px;
	text-indent: 2em;
}
