html {overflow:hidden;}
body {height:100%;overflow:auto;}
#bchat {position:absolute;right:20px;bottom:0;}
#bchat-max {position:absolute;right:20px;bottom:0;}
#bchat-min {position:absolute;right:20px;bottom:0;}
