#bd-content .intro {
	font-size: 110%;
}

#bd-content pre {
	width:90%;
	padding:0.5em;
	margin: 1ex auto;
	background-color:#EEEEEE;
	border:1px solid #AAAAAA;
	color:#112222;
	font-size:90%;
}

#bd-content img {
	margin: 0 auto;
}

#bd-content ul {
	margin-left: 2em;
	list-style-type: disc;
}

#man-top, #man-bot {
	height: 30px;
	margin: 20px;
	padding: 10px;
}
#man-top {
	border-bottom: 1px solid #A6A6A6;
}
#man-bot {
	border-top: 1px solid #A6A6A6;
}
#man-top .nav-next, #man-bot .nav-next {
	float: right;
}
