input[type=checkbox] {vertical-align:middle; margin-top:-2px; margin-bottom:1px;}

#kol-lcs {
	position:fixed;
	right:20px;
	bottom: 0;
	opacity: 1.0;
	font-family:verdana,arial,sans-serif;
	font-size:12px;
	z-index:99999;
}

#kol-lcs-min {
	display: none;
	width: 30px;
	height: 30px;
	background:transparent url(http://www.kaiwuonline.com/img/im/lcs.png) no-repeat scroll -41px -60px;
	overflow: hidden;
	cursor: pointer;
}

#kol-lcs-max {
	display: none;
}

#kol-lcs-head {
	height: 30px;
	width: 300px;
	background-color:#EEEEEE;
	border: 1px solid #666666;
}

#kol-lcs-head .toggle, #kol-lcs-head .miner {
	height: 28px;
	float: left;
	overflow: hidden;
	cursor: pointer;
}
#kol-lcs-head .toggle {
	width: 242px;
	margin-left: 10px;
	background:transparent url(http://www.kaiwuonline.com/img/im/lcs.png) no-repeat scroll 0 -29px;
}
#kol-lcs-head .toggle.dirty {
	background:transparent url(http://www.kaiwuonline.com/img/im/lcs.png) no-repeat scroll 0 5px;
}
#kol-lcs-head .miner {
	width: 25px;
	margin-left: 15px;
	background:transparent url(http://www.kaiwuonline.com/img/im/lcs.png) no-repeat scroll 0 -58px;
}

#kol-lcs-body {
	display: none;
	background-color:#EEEEEE;
	width: 300px;
	border: 1px solid #666666;
	/*border-bottom: 1px solid #EEEEEE;*/
}
#kol-lcs-body .top {
	color: #999;
	overflow: hidden;
	padding: 5px 10px;
	float: left;
	width: 80%;
}
#kol-lcs-body .close {
	cursor: pointer;
	float: right;
	height: 20px;
	width: 30px;
	padding: 2px 3px 0 0;
	background:transparent url(http://www.kaiwuonline.com/img/im/lcs.png) no-repeat scroll -83px -60px;
}
#kol-lcs-body .msgs {
	border: 1px solid #666666;
	height: 200px;
	width: 93%;
	margin: 0 10px 10px 10px;
	overflow: auto;
}
textarea#kol-lcs-input {
	padding: 5px;
	margin: 0 10px 2px 10px;
	width: 90%;
}
#kol-lcs-body .bot {
	color: #999;
	overflow: hidden;
	margin: 0 10px 10px 10px;
}

#kol-lcs-body .msgs .item-join, #kol-lcs-body .msgs .item-visit, #kol-lcs-body .msgs .item-send, #kol-lcs-body .msgs .item-msg {
	margin: 5px 0;
}
#kol-lcs-body .msgs .item-name, .kol-lcs-msgs .item-time{
	margin-left: 10px;
	color: #999;
}
#kol-lcs-body .msgs .item-content {
	display: block;
	text-indent: 2em;
}
