html, body {height: 100%;overflow: auto;}

#kol-lcs {position:absolute;right:20px;bottom:0;}
#kol-lcs-max {position:absolute;right:20px;bottom:0;}
#kol-lcs-min {position:absolute;right:20px;bottom:0;}

#kol-lcs-head .toggle {margin-left: 5px;}
