.blog-item {
    margin: 30px 0;
}

.blog-item .info {
    color: gray;
}

.blog-item .info .left{
    float: right;
}

.blog-item .content {
    margin: 20px 0 10px 0;
    /*text-indent: 2em;*/
}

.content p.pre {
    white-space: pre-wrap;       /* css3 */
    white-space: -moz-pre-wrap;  /* Mozilla*/
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    *white-space: pre;
    word-wrap: break-word;       /* IE 5.5?? */
}

.blog-item .end {
    color: gray;
}

.nav {
    border-top: 1px solid #aaa;
    text-align: right;
    line-height: 24px;
}

.nav .left {
    float: left;
}
.nav .right {
    float: right;
}
