/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markdown .markItUpButton1 a {
    background-image:url(/img/markitup/blog/set/h1.png); 
}
.markdown .markItUpButton2 a {
    background-image:url(/img/markitup/blog/set/h2.png); 
}
.markdown .markItUpButton3 a {
    background-image:url(/img/markitup/blog/set/h3.png); 
}
.markdown .markItUpButton4 a {
    background-image:url(/img/markitup/blog/set/h4.png); 
}
.markdown .markItUpButton5 a {
    background-image:url(/img/markitup/blog/set/h5.png); 
}
.markdown .markItUpButton6 a {
    background-image:url(/img/markitup/blog/set/h6.png); 
}

.markdown .markItUpButton7 a {
    background-image:url(/img/markitup/blog/set/bold.png);
}
.markdown .markItUpButton8 a {
    background-image:url(/img/markitup/blog/set/italic.png);
}

.markdown .markItUpButton9 a {
    background-image:url(/img/markitup/blog/set/list-bullet.png);
}
.markdown .markItUpButton10 a {
    background-image:url(/img/markitup/blog/set/list-numeric.png);
}

.markdown .markItUpButton11 a {
    background-image:url(/img/markitup/blog/set/picture.png); 
}
.markdown .markItUpButton12 a {
    background-image:url(/img/markitup/blog/set/link.png);
}

.markdown .markItUpButton13 a    {
    background-image:url(/img/markitup/blog/set/quotes.png);
}
.markdown .markItUpButton14 a    {
    background-image:url(/img/markitup/blog/set/code.png);
}

.markdown .preview a {
    background-image:url(/img/markitup/blog/set/preview.png);
}
