#bd-content pre {
    width: auto;
}

textarea.content {
    height: 150px;
    width: 520px;
    padding: 5px;
}

#comments {
    clear: both;
    margin: 5ex 1ex;
}

#comments .comment-item {
    margin-top: 2ex;
}

.comment-item .author {
    font-weight: bold;
    color:#767676;
}

.comment-item p.pre {
    margin: 0 10px;
    white-space: pre-wrap;       /* css 3 */
    white-space: -moz-pre-wrap;  /* Mozilla*/
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    *white-space: pre;
    word-wrap: break-word;       /* IE 5.5?? */
}
