dl.appinfo {margin: 10px 0;}
dl.appinfo dt{font-weight: bold; text-decoration:underline;}
dl.appinfo dd.time{color: gray; margin-bottom:10px;}

.im-box {
	height: 450px;
	overflow: hidden;
    /*border: 1px solid #101010;*/
	/*padding:15px;*/
}
.im-op {
	float:left;
}
.im-chat {
	width: 516px;
	height: 430px;
	float: left;
    border: 0.5em solid #aaa;
	background-color:#eee;
	text-indent:1em;
}


.im-users {
	width: 170px;
	height: 410px;
	overflow:hidden;
	position:relative;
}

.im-users .items {
	clear:both;
	position:absolute;
	width:20000em;
}

.im-users .items ul {
	margin-top: 3ex;
	width: 170px;
	float: left;
}

.im-users ul li {
	cursor: pointer;
	/*margin-top: -1px;*/
	margin: 0;
	height: 24px;
	overflow: hidden;
	border-color: #aaa;
	border-style:solid none solid solid;
	border-width:1px 0 1px 1px;
}

.im-users ul li .uname {
	float:left;
	margin-left: 1em;
	line-height: 24px;
}

.im-users ul li .place {
	float: right;
	margin-right: 1em;
	height: 24px;
	line-height: 24px;
	width: 80px;
	overflow: hidden;
	text-align: right;
}

.im-users ul li.off {
	background-color: #fff;
}

.im-users ul li.on {
	background-color: #ddd;
}

.im-users ul li.dirty {
	background-color: #777;
}

.im-users ul li.cur {
	background-color: #aaa;
}

.im-stat {
	font-weight:bold;
	line-height:26px;
}
.im-msgs {
	height: 330px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	margin-bottom: 10px;
	overflow: auto;
}

.item-join, .item-visit, .item-send, .item-msg {
	margin: 8px 0;
}
.im-msgs .item-name, .im-msgs .item-time{
	margin-left: 10px;
	color: #999;
}
.im-msgs .item-content {
	display: block;
	margin: 2px;
	text-indent: 3em;
}

.im-msgs .item-content a {
	color: #999;
}

.im-input textarea {
	height: 40px;
	width: 330px;
	padding: 5px;
	margin: 0 0 -3px 1em;
}

.im-input input {
	margin: 0 2px;
}

.im-input input[type=button] {
	width: 70px;
}
