/* the overlayed element */
.overlay-w {
    
    /* must be initially hidden */
    display:none;
    
    /* place overlay on top of other elements */
    z-index:10000;
    
    /* styling */
    background-color:#eeeeee;
    border: #aaaaaa 1px solid;

    padding:15px;
}

/* close button positioned on upper right corner */
.overlay-w .close {
    background-image:url(/img/overlay/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}
