/* ELEMENT */
body {background: #e1ecee url(/img/bg/bg.jpg) repeat-x;}
/*a {color: #DB3946; cursor: pointer; text-decoration: none;}*/
a {color: #962828; cursor: pointer; text-decoration: none;}
h1 {margin: 2.5em 0 2em   0;}
h2 {margin: 2em   0 1.5em 0;}
h3 {margin: 1.5em 0 0.8em 0;}
h4 {margin: 1em   0 0.5em 0}
p {margin:  0.5em 0 1em   0;}
ul {padding: 0 2em;}
pre {
    white-space: pre-wrap;       / css-3 /
    white-space: -moz-pre-wrap;  / Mozilla, since 1999 /
    white-space: -pre-wrap;      / Opera 4-6 /
    white-space: -o-pre-wrap;    / Opera 7 /
    word-wrap: break-word;       / Internet Explorer 5.5+ /
}

:focus {outline-style:none;}
input[type=checkbox] {vertical-align:middle; margin-top:-2px; margin-bottom:1px;}
input[type=text], input[type=password] {height: 18px; padding-left: 2px; padding-right: 2px;}
input[type=button] {cursor: pointer; padding: 2px 20px;}
input, textarea {border: 1px solid #A6A6A6; padding: 2px 10px;}

/* SPECIAL CLASS */
ul.align {padding: 0;}
/*ul.normal li {list-style: outside;}*/
ul.emph li {font-weight: bold;}

input.btn, button.btn {height: 28px; width: 80px; text-align: center; vertical-align: middle; border: 0px none; color: #fff; background: url(/img/bg/btn.png) 0 0 no-repeat;}
input.btn:hover {cursor: pointer; background-position: 0 -28px;}
input.btn-w, button.btn-w{width: 130px; background: url(/img/bg/btn.png) -80px 0 no-repeat;}
input.btn-w:hover {cursor: pointer; background-positon: -80px -28px;}
input.long {width: 200px;}
input.llong {width: 260px;}

a.btn {display: inline-block; height: 28px; width: 80px; text-align: center; color: #fff; background: url(/img/bg/btn.png) 0 0 no-repeat;}
a.btn:hover {background-position: 0 -28px;}

dl.inp dt {float: left; clear: left; margin: 5px; line-height: 22px; text-align: right; width: 75px;}
dl.inp dd {margin: 5px; line-height: 22px; float: left;}
dl.inp dd span {margin-left: 20px;}
dl.inp dd.loading .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/ajax/indicator.gif) 0 0 no-repeat;}
dl.inp dd.success .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/ajax/success.png) 0 0 no-repeat}
dl.inp dd.error .indicator {display:inline-block;margin-left:5px;width:16px;height:16px;background:url(/img/ajax/error.png) 0 0 no-repeat;}

table.list {border: 1px solid #CCCCCC; border-collapse:collapse; width:100%;}
table.list th {background-color: #eee; border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; padding:4px 4px; text-align:center; width:auto;}
table.list td {border-left:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; padding:4px 4px;}
table.list tr:hover {background-color: #FFFFCC;}

.hide {display: none;}
.show {display: block;}
.valid {border: 2px solid green !important;}
.invalid {border: 2px solid #800 !important;}
.clearer {clear: both;}
.sep {display: block; clear: both; height: 3em;}
.sepl {display: block; clear: both; height: 1em;}
.decimal {font: 12px Georgia; font-weight: bold;}
.slight {color:#767676;}
.em {font-weight: bold;}
.eem {font-weight: bold; font-size: 120%;}
.text-red {color: #ff0000;}
.text-green {color: #00ff00;}
.text-blue {color: #0000ff;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-hint {color: #bb0000;}
.text-success {color: #00ff00;}
.text-error {color: #ff0000;}
.page-hint {width: 82%; text-align: center; margin: 2em auto; margin-bottom: 3em; padding: 1em; background-color: #FCFCFC; border: 1px solid #DDD; font-weight: bold; -moz-border-radius:4px;}
