#browser-hint {
    width: 100%;
    text-align: center;
    background-color: #676767;
    color: #aaa;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    font-weight: bold;
}

#bd-top, #bd-mid, #bd-bot {
    width: 960px;
    margin: 0 auto;
}
#bd-top {
    height: 80px;
    margin-top: 20px;
}
#bd-bot {
    height: 100px;
    padding: 10px;
}
#bd-top img {float: left;}
#bd-bot p {text-indent: 0; margin: 2px;}
#bd-bot p.right {text-align: right;}

#bd-personal {float: right; margin: 12px 0 0 0; display: inline;}
#bd-personal ul li{display: inline; float: left; margin: 5px 0;    padding: 0 8px; border-right: 1px solid #101010; display: inline;}
#bd-personal ul li.last{border-right: 0 none;}
#bd-member {display: none;}

#bd-nav {font: bold 13px Georgia; float:left;}
#bd-nav li {float: left; height: 32px; background: url(/img/bg/nav.jpg) no-repeat 0 -14px;}
#bd-nav li a {display: block; line-height: 16px; margin-left: 1px;    padding: 10px 20px 6px; background: url(/img/bg/nav.jpg) repeat-x 0 0;}
#bd-nav li a.selected {float: left; height: 17px; background: #fff url(/img/bg/nav-current.jpg) repeat-x 0 0;}

/* content */
#bd-content {
    clear: both;
    padding: 1em 2em;
    line-height: 18px;
    border: 1px solid #A6A6A6;
    background: #FFF;
}

#bd-content pre {
    width:90%;
    padding:0.5em;
    margin: 1ex auto;
    background-color:#EEEEEE;
    border:1px solid #AAAAAA;
    color:#112222;
    font-size:108%;
}

#bd-action {
    -moz-border-radius: 5px 5px 5px 5px;
    background: url(/img/bg/nav.jpg) repeat-x scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    float: left;
    margin: 1em 0 2em;
    padding: 6px 10px;
    width: 97%;
}

#bd-action li {
    float: left;
}
#bd-action li a {
    -moz-border-radius: 4px 4px 4px 4px;
    display: block;
    color: #666666;
    line-height: 26px;
    margin-right: 1em;
    padding: 0 1em;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.698);
}
#bd-action li a.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #EEEEEE #EEEEEE #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-weight: bold;
    position: relative;
    top: -1px;
}

.bd-nav {margin: 2em; color: #666666; text-align: right;}
.bd-nav input {width: 20px; height: 14px; padding: 0;}
.bd-nav .confirm, .bd-nav .nav-prev, .bd-nav .nav-next {
    display: inline-block;
    cursor: pointer;
    background: url(/img/bg/pagediv.png) 0 0 no-repeat;
}
.bd-nav .confirm {width: 24px; height: 18px;}
.bd-nav .nav-prev {width: 30px; height: 22px; background-position: 0 -18px;}
.bd-nav .nav-next {width: 70px; height: 22px; background-position: 0 -40px;}
.bd-nav a {color: #666666;}

.bd-nav .left {width: 100px;}
.bd-nav .center {width: 100px; margin-left: 30px;}
.bd-nav .right {width: 150px; margin-left: 80px;}
